body {
    font-family: Arial;
    text-align: center;
    background: #0b0f1a;
    color: white;
}

.title {
    font-size: 40px;
    color: cyan;
    text-shadow: 0 0 20px cyan;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, cyan, purple);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    transform: scale(1.05);
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 12px;
    justify-content: center;
    margin: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 40px;
    background: #111827;
    border: 2px solid cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.cell:hover {
    background: #1f2937;
}
.cell.X {
    color: cyan;
    text-shadow: 0 0 15px cyan;
}

.cell.O {
    color: pink;
    text-shadow: 0 0 15px pink;
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    margin-top: 10px;
}